* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 3px;
  }
  
  .calculator {
    margin:auto;
    background: #5A5655;
    color: white;
    height: 693px;
    position: relative;
    width: 445px;
  }
  
  .value {
    padding: 1px;
    font-size: 118px;
    font-weight: 250;
    height: 118px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
    overflow: hidden;
  }
  
  .buttons-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
  .button {
    align-items: center;
    background: #7F7C7B;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 110px;
    justify-content: center;
    transition: filter .3s;
    width: 110px;
  }
  
  .button.function {
    color: white;
    background: #6A6766;
  }
  
  .button.operator {
    background: #F2A33B;
  }
  
  .button.num-0 {
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 42px;
    width: 222px;
  }
  
  .button:active,
  .button:focus {
    filter: brightness(120%);
  }